In [56]:
from nltk.corpus import wordnet
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import re
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.collocations import *
from textblob import TextBlob
import nltk, re, string, collections
from nltk.util import ngrams
import unicodedata
from sklearn.feature_extraction.text import CountVectorizer
from collections import Counter
import math
from math import sqrt

In [3]:
df=pd.read_csv(r"C:/Users/polic/OneDrive/Desktop/final.csv")
df.head()

,name,reviews.text
0,"The Alexandrian, Autograph Collection",The hotel was great. Staff went above and beyo...
1,"The Alexandrian, Autograph Collection",A wonderful hotel - would definitely stay ther...
2,"The Alexandrian, Autograph Collection","Tolles Zimmer, nettes Personal"
3,"The Alexandrian, Autograph Collection",Outstanding. Will definitely return.
4,"The Alexandrian, Autograph Collection","O hotel �� bel��ssimo, assim como os quartos, ..."

In [4]:
df['ReviewText'] = df['reviews.text'].astype(str)
df['ReviewLength'] = df['ReviewText'].apply(len)

In [5]:
#cleaning the text
def clean_text(text):
   text=re.sub(r"\?", ".", text)
   text=re.sub(r"\!", ".", text)
   text=re.sub(r'([.])\1+', r'\1', text)
   rexp=r"\.(?=[A-Za-z]{1,15})"
   text=re.sub(rexp, ". ", text)
   return text

In [6]:
df['CleanedReviewText'] =df['ReviewText'].apply(clean_text)
df['CleanedReviewText']=df['CleanedReviewText'].apply(sent_tokenize)

In [7]:
df=df.explode('CleanedReviewText',ignore_index=False)

In [8]:
df

,name,reviews.text,ReviewText,ReviewLength,CleanedReviewText
0,"The Alexandrian, Autograph Collection",The hotel was great. Staff went above and beyo...,The hotel was great. Staff went above and beyo...,99,The hotel was great.
0,"The Alexandrian, Autograph Collection",The hotel was great. Staff went above and beyo...,The hotel was great. Staff went above and beyo...,99,Staff went above and beyond bringing hot tea t...
1,"The Alexandrian, Autograph Collection",A wonderful hotel - would definitely stay ther...,A wonderful hotel - would definitely stay ther...,330,A wonderful hotel - would definitely stay ther...
1,"The Alexandrian, Autograph Collection",A wonderful hotel - would definitely stay ther...,A wonderful hotel - would definitely stay ther...,330,Wonderful staff.
1,"The Alexandrian, Autograph Collection",A wonderful hotel - would definitely stay ther...,A wonderful hotel - would definitely stay ther...,330,We remarked that the first room was very far f...
...,...,...,...,...,...
12275,La Quinta Inn and Suites Nashville Franklin,"Clean room, nice staff....a little weird to ge...","Clean room, nice staff....a little weird to ge...",212,a little weird to get to but tucked away is ni...
12275,La Quinta Inn and Suites Nashville Franklin,"Clean room, nice staff....a little weird to ge...","Clean room, nice staff....a little weird to ge...",212,"Average room for an average price, just a stop..."
12275,La Quinta Inn and Suites Nashville Franklin,"Clean room, nice staff....a little weird to ge...","Clean room, nice staff....a little weird to ge...",212,I love LQ and stay at them whenever and where ...
12276,La Quinta Inn and Suites Nashville Franklin,Bed was a little on the lumpy uncomfy side but...,Bed was a little on the lumpy uncomfy side but...,58,Bed was a little on the lumpy uncomfy side but...
12277,La Quinta Inn and Suites Nashville Franklin,Our experience was just what we expected - a c...,Our experience was just what we expected - a c...,79,Our experience was just what we expected - a c...

In [9]:
def lemma_words_pos_filtered(text):
    
    word_list=[]
    lemmatizer = WordNetLemmatizer()
    tokens = nltk.word_tokenize(text)
    pos_tokens=nltk.pos_tag(tokens)
    for pos in pos_tokens:
        
        if (pos[1].startswith('N')):
            
            word_list=word_list+[lemmatizer.lemmatize(pos[0].lower(), wordnet.NOUN)]
        if (pos[1].startswith('V')):
            word_list=word_list+[lemmatizer.lemmatize(pos[0].lower(), wordnet.VERB)]
        if (pos[1].startswith('J')):
            word_list=word_list+[lemmatizer.lemmatize(pos[0].lower(), wordnet.ADJ)]
    word_list=[word for word in word_list if word not in stopwords.words('english') ]
    return  " ".join(word_list)
df['lemma_words_pos_filtered']=df['CleanedReviewText'].apply(lemma_words_pos_filtered)

In [10]:
bigram_measures = nltk.collocations.BigramAssocMeasures()
finder = BigramCollocationFinder.from_words( " ".join(df['lemma_words_pos_filtered']).split())

bigram_list_tuples=finder.nbest(bigram_measures.likelihood_ratio, 10)

In [11]:
#finding the bigram tuples
bigram_list_tuples

[('front', 'desk'),
 ('staff', 'friendly'),
 ('walk', 'distance'),
 ('hot', 'tub'),
 ('room', 'clean'),
 ('bed', 'comfortable'),
 ('friendly', 'helpful'),
 ('continental', 'breakfast'),
 ('old', 'town'),
 ('great', 'location')]

In [12]:
def unique_tuples(list_of_tuples):
    
    list_ = [tuple(sorted(t)) for t in list_of_tuples]
    list_ = list(set(list_))
    return list_
bigram_features=unique_tuples(bigram_list_tuples)
length_features2=len(bigram_features)

In [13]:
#find number of bigrams
def findbigramsintext(text):
    mylist=nltk.word_tokenize(text)
    list1=[x for x in mylist]
    feature_list = []
    for i in range(length_features2):
        
      # In each iteration, add an empty list to the main list      
        feature_list.append([])
    i=0
# bigram_features is the list of unique set of bigrams found after collocation
    for l in bigram_features:
        
        list2=[x for x in l]
        result =  all(elem in list1  for elem in list2)
        if result:
            feature_list[i].append(' '.join(list2))
        i=i+1
    
    return feature_list

In [14]:
def findbigramscount(text):
    mylist=nltk.word_tokenize(text)
    list1=[x for x in mylist]
    feature_list = []
    for i in range(length_features2):
        
      # In each iteration, add an empty list to the main list      
        feature_list.append([])
    i=0
# bigram_features is the list of unique set of bigrams found after collocation
    for l in bigram_features:
        
        list2=[x for x in l]
        result =  all(elem in list1  for elem in list2)
        if result:
            feature_list[i].append(' '.join(list2))
        i=i+1
    
    return i

In [15]:
df['bigram_list'] = df['lemma_words_pos_filtered'].apply(findbigramsintext)
df['count']=df['lemma_words_pos_filtered'].apply(findbigramscount)
df.tail()

,name,reviews.text,ReviewText,ReviewLength,CleanedReviewText,lemma_words_pos_filtered,bigram_list,count
12275,La Quinta Inn and Suites Nashville Franklin,"Clean room, nice staff....a little weird to ge...","Clean room, nice staff....a little weird to ge...",212,a little weird to get to but tucked away is ni...,little weird get tuck nice,"[[], [], [], [], [], [], [], [], [], []]",10
12275,La Quinta Inn and Suites Nashville Franklin,"Clean room, nice staff....a little weird to ge...","Clean room, nice staff....a little weird to ge...",212,"Average room for an average price, just a stop...",average room average price stop travel,"[[], [], [], [], [], [], [], [], [], []]",10
12275,La Quinta Inn and Suites Nashville Franklin,"Clean room, nice staff....a little weird to ge...","Clean room, nice staff....a little weird to ge...",212,I love LQ and stay at them whenever and where ...,love lq stay possible,"[[], [], [], [], [], [], [], [], [], []]",10
12276,La Quinta Inn and Suites Nashville Franklin,Bed was a little on the lumpy uncomfy side but...,Bed was a little on the lumpy uncomfy side but...,58,Bed was a little on the lumpy uncomfy side but...,bed little lumpy uncomfy side clean,"[[], [], [], [], [], [], [], [], [], []]",10
12277,La Quinta Inn and Suites Nashville Franklin,Our experience was just what we expected - a c...,Our experience was just what we expected - a c...,79,Our experience was just what we expected - a c...,experience expect clean room affordable price,"[[], [], [], [], [], [], [], [], [], [clean ro...",10

In [16]:
def keepnonempty(list1):
    mylist= [x for x in list1 if x != []]
    return mylist
def flatten_list(row_list):
    l = [item for inner_list in row_list for item in inner_list]
    return l
df['bigrams']=df['bigram_list'].apply(keepnonempty)
df['bigrams']=df['bigrams'].apply(flatten_list)

In [19]:

df['bigrams'].tail(50)

12267                  []
12267                  []
12267                  []
12267                  []
12267                  []
12267                  []
12268                  []
12268                  []
12268                  []
12268                  []
12268                  []
12268                  []
12269                  []
12269                  []
12269        [clean room]
12269                  []
12270                  []
12270           [hot tub]
12271                  []
12271                  []
12271                  []
12272    [great location]
12272                  []
12272        [desk front]
12272                  []
12273                  []
12273                  []
12273        [clean room]
12273    [friendly staff]
12273                  []
12273                  []
12273                  []
12274                  []
12274                  []
12274                  []
12274                  []
12274    [friendly staff]
12274                  []
12274                  []
12274                  []
12274                  []
12274                  []
12274                  []
12274                  []
12275        [clean room]
12275                  []
12275                  []
12275                  []
12276                  []
12277        [clean room]
Name: bigrams, dtype: object

In [49]:
df[['bigrams','name']].groupby(["name"]).count().sort_values(["bigrams"], ascending=False).reset_index()

                                                 name  bigrams
0               The Alexandrian, Autograph Collection     5019
1                       Howard Johnson Inn - Newburgh     2777
2                             Americas Best Value Inn     2593
3                               Fiesta Inn and Suites     2329
4         Hampton Inn Virginia Beach Oceanfront North     1604
5                          Best Western of Long Beach     1386
6            Best Western Plus Waterville Grand Hotel     1375
7                                      Comfort Suites     1374
8        Doubletree By Hilton West Palm Beach Airport     1249
9                             Anaheim Marriott Suites     1248
10                Jacksonville Plaza Hotel and Suites     1215
11                   Hotel Deca - A Noble House Hotel     1158
12    Best Western Plus French Quarter Landmark Hotel     1087
13                 Plaza Hotel and Casino - Las Vegas     1064
14                               Ip Casino Resort Spa     1049
15                                  Red Roof Inn Erie     1040
16                                 Elk Springs Resort     1026
17   Doubletree By Hilton Hotel Bay City - Riverfront      999
18  Holiday Inn Express Hotel and Suites Va Beach ...      990
19  Mountain Lodge At Telluride - A Noble House Re...      972
20                                      Tidewater Inn      903
21                            Cliffrose Lodge Gardens      852
22                   Garden of The Gods Club & Resort      844
23                                        Comfort Inn      826
24    Drury Inn and Suites Columbus Convention Center      819
25                          New York Marriott Marquis      779
26                         Hampton Inn Tucson-airport      770
27                   Hampton Inn and Suites Annapolis      746
28              Hampton Inn Sarasota - I-75 Bee Ridge      736
29                             Quality Inn and Suites      730
30           Country Inn and Suites By Carlson Galena      716
31     Holiday Inn Express Hotel and Suites Cambridge      709
32                                 40 Berkeley Hostel      707
33                            Holiday Inn Fond Du Lac      702
34                   La Quinta Inn and Suites Sunrise      699
35                     La Quinta Inn Auburn Worcester      695
36                   Holiday Inn Express San Clemente      692
37                         Hotel Valencia Santana Row      686
38                               Bayside Resort Hotel      644
39                         Good Nite Inn Rohnert Park      634
40                                  Sportsmen's Lodge      609
41                                        Quality Inn      598
42          Best Western Hospitality Hotel and Suites      577
43                                        Chelsea Inn      571
44        La Quinta Inn and Suites Nashville Franklin      563
45                                Gardena Terrace Inn      544
46               Travelodge Anaheim Convention Center      523
47    Hyatt Place Atlanta/alpharetta/north Point Mall      483
48                                        Dockers Inn      479
49                                  Wine Valley Lodge      434

In [60]:
#finding mean and standard deviation
mean=df['bigrams'].count()/50
Sum=0
for i in range(0,50):
    Sum+=(i-mean)**2
stdev = sqrt(Sum/49)
print('mean',mean)
print('sd',stdev)

mean 1036.48
sd 1022.3581037214396